<?xml version="1.0" ?>

<monitoring>

    <!--
    Input lists:
    Definition of the variables for filling the ROOT tree.
    -->

    <inputList group="GEM" name="GEM1" enabled="True">
	<variable name="gem_timebase" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_discarded" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_discarded_delta" reset="False" enabled="True">
	    <type>int</type>
            <shape>(2)</shape>
	</variable>
	<variable name="gem_dead_zone" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_dead_zone_delta" reset="False" enabled="True">
	    <type>int</type>
            <shape>(2)</shape>
	</variable>
	<variable name="gem_live_time" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_condition_summary" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_tkr_vector" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_roi_vector" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>	
	<variable name="gem_cal_le_vector" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_cal_he_vector" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_cond_arr_time_tkr" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_cond_arr_time_cal_le" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_cond_arr_time_cal_he" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_cond_arr_time_roi" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_cond_arr_time_cno" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_trigger_time" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_one_pps_time_time_base" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_one_pps_time_seconds" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_delta_event_time" enabled="True">
	    <type>double</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_delta_window_open_time" enabled="True">
	    <type>double</type>
            <shape>(1)</shape>
	</variable>
    </inputList>

    <inputList group="ACD" name="ACD1" enabled="True">

	<variable name="acd_tile_count" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>

	<variable name="acd_tile_hitmap" enabled="False">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>

	<variable name="acd_cable_tile_count" enabled="True">
	    <type>int</type>
            <shape>(NUM_ACD_CABLES)</shape>
	</variable>

    </inputList>


    <inputList group="TKR" name="TKR base" enabled="True">
	<variable name="tkr_strip_count" enabled="True">
	    <type>int</type>
	    <shape>(1)</shape>
	</variable>
	<variable name="tkr_tower_strip_count" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS)</shape>
	</variable>
	<variable name="tkr_layer_end_strip_count" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER, 2)</shape>
	</variable>
	<variable name="tkr_layer_end_tot" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER, 2)</shape>
	</variable>	
    </inputList>
    
    
    <inputList group="CAL" name="CAL base" enabled="True">
	<variable name="cal_log_count" enabled="True">
	    <type>int</type>
	    <shape>(1)</shape>
	</variable>
	<variable name="cal_tower_log_count" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS)</shape>
	</variable>
	<variable name="cal_layer_log_count" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_CAL_LAYERS_PER_TOWER)</shape>
	</variable>
	<variable name="cal_layer_column_log_count" enabled="False">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_CAL_LAYERS_PER_TOWER, NUM_CAL_COLUMNS_PER_TOWER)</shape>
	</variable>
	<variable name="cal_tower_count" enabled="True">
	    <type>int</type>
	    <shape>(1)</shape>
	</variable>
    </inputList>
	
	
    <!--
    Output lists:
    Definition of the plot which are filled from the ROOT tree.
    -->

    <!--
    GEM group.
    -->
    <outputList group="GEM" name="GEM base" enabled="True">
        <TH1F name="gem_condition_summary" enabled="True">
	    <title>GEM condition summary</title>
	    <xbins>64</xbins>
	    <xmin>0</xmin>
	    <xmax>64</xmax>
	    <xlabel>GEM condition summary word</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_condition_summary</expression>
        </TH1F>
        <TH1F name="gem_delta_event_time" enabled="True">
	    <title>GEM delta event time</title>
	    <xbins>200</xbins>
	    <xmin>0</xmin>
	    <xmax>70000</xmax>
	    <xlabel>GEM delta event time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_delta_event_time</expression>
        </TH1F>
        <TH1F name="gem_delta_window_open_time" enabled="True">
	    <title>GEM delta window open time</title>
	    <xbins>200</xbins>
	    <xmin>0</xmin>
	    <xmax>70000</xmax>
	    <xlabel>GEM delta window open time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_delta_window_open_time</expression>
        </TH1F>
        <TH1F name="gem_discarded_delta" enabled="True">
	    <title>GEM discarded events</title>
	    <xbins>32</xbins>
	    <xmin>0</xmin>
	    <xmax>32</xmax>
			<xlabel>number of events</xlabel>
	    <caption>number of GEM discarded events between two consecutive events</caption>
      <expression>gem_discarded_delta[0]</expression>
			<cut><![CDATA[ gem_condition_summary&30 ]]></cut>
        </TH1F>
        <TH1F name="gem_dead_zone_delta" enabled="True">
	    <title>GEM dead zone events</title>
	    <xbins>32</xbins>
	    <xmin>0</xmin>
	    <xmax>32</xmax>
			<xlabel>number of events</xlabel>
	    <caption>number of GEM dead zone events between two consecutive events</caption>
      <expression>gem_dead_zone_delta[0]</expression>
			<cut><![CDATA[ gem_condition_summary&30 ]]></cut>
        </TH1F>
    </outputList>
    
    <outputList group="GEM" name="GEM arrival times" enabled="True">
        <TH1F name="gem_cond_arr_time_roi" enabled="True">
	    <title>GEM condition arrival time for ROI</title>
	    <xbins>35</xbins>
	    <xmin>0</xmin>
	    <xmax>35</xmax>
	    <xlabel>Arrival time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_cond_arr_time_roi</expression>
        </TH1F>
        <TH1F name="gem_cond_arr_time_tkr" enabled="True">
	    <title>GEM condition arrival time for TKR</title>
	    <xbins>35</xbins>
	    <xmin>0</xmin>
	    <xmax>35</xmax>
	    <xlabel>Arrival time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_cond_arr_time_tkr</expression>
        </TH1F>
        <TH1F name="gem_cond_arr_time_cal_le" enabled="True">
	    <title>GEM condition arrival time for CAL LE</title>
	    <xbins>35</xbins>
	    <xmin>0</xmin>
	    <xmax>35</xmax>
	    <xlabel>Arrival time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_cond_arr_time_cal_le</expression>
        </TH1F>
        <TH1F name="gem_cond_arr_time_cal_he" enabled="True">
	    <title>GEM condition arrival time for CAL HE</title>
	    <xbins>35</xbins>
	    <xmin>0</xmin>
	    <xmax>35</xmax>
	    <xlabel>Arrival time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_cond_arr_time_cal_he</expression>
        </TH1F>
        <TH1F name="gem_cond_arr_time_cno" enabled="True">
	    <title>GEM condition arrival time for CNO</title>
	    <xbins>35</xbins>
	    <xmin>0</xmin>
	    <xmax>35</xmax>
	    <xlabel>Arrival time (clock tics)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>gem_cond_arr_time_cno</expression>
        </TH1F>
    </outputList>
 
    <outputList group="GEM" name="GEM trigger vectors" enabled="True">
        <CUSTOM type="gem_vector_map" name="gem_tkr_vector" enabled="True">
	    <title>TKR triggers statistics</title>
	    <xlabel>Tower</xlabel>
	    <ylabel>Number of triggers</ylabel>
	    <expression>gem_tkr_vector</expression>
        </CUSTOM>
        <CUSTOM type="gem_vector_map" name="gem_roi_vector" enabled="True">
	    <title>ROI triggers statistics</title>
	    <xlabel>Tower</xlabel>
	    <ylabel>Number of triggers</ylabel>
	    <expression>gem_roi_vector</expression>
        </CUSTOM>
        <CUSTOM type="gem_vector_map" name="gem_cal_le_vector" enabled="True">
	    <title>CAL LE triggers statistics</title>
	    <xlabel>Tower</xlabel>
	    <ylabel>Number of triggers</ylabel>
	    <expression>gem_cal_le_vector</expression>
        </CUSTOM>
        <CUSTOM type="gem_vector_map" name="gem_cal_he_vector" enabled="True">
	    <title>CAL HE triggers statistics</title>
	    <xlabel>Tower</xlabel>
	    <ylabel>Number of triggers</ylabel>
	    <expression>gem_cal_he_vector</expression>
        </CUSTOM>
    </outputList>
    
    <!--
    Meta event group.
    -->
    <outputList group="META" name="Meta event base" enabled="True">
        <TH1F name="meta_context_open_crate" enabled="True">
	    <title>Crate number</title>
	    <xbins>10</xbins>
	    <xmin>0</xmin>
	    <xmax>10</xmax>
	    <xlabel>Crate number (EPU0, EPU1, EPU2, SIU0, SIU1, AUX)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>meta_context_open_crate</expression>
        </TH1F>
    </outputList>    

    <!--
    TKR group.
    -->
    <outputList group="TKR" name="TKR base" enabled="True">
        <TH1F name="tkr_strip_count" enabled="True">
	    <title>Tracker hit multiplicity</title>
	    <xbins>100</xbins>
	    <xmin>0</xmin>
	    <xmax>300</xmax>
            <expression>tkr_strip_count</expression>
        </TH1F>
				
        <CUSTOM type="tkr_no_tot_counter" name="tkr_no_tot_counter" enabled="True">
	    <title>No TOT counter</title>
	    <xlabel>Layer number</xlabel>
			<ylabel>Tower</ylabel>
			<drawoptions>colz</drawoptions>
	    <caption>Number of times that the TOT is 0 while there are 1 or more strips hit in the same controller</caption>
	    <!-- this tag is useless for this CUSTOM plot 
			since it is dedicated to a specific task
			<expression></expression> -->
			<cut><![CDATA[ gem_condition_summary&30 ]]></cut>
        </CUSTOM>		
											
        <CUSTOM type="tkr_layer_count" name="tkr_tower_layer_count" enabled="True" level="tower" >
	    <title>Number of hit Tracker Tower Layer per event</title>
	    <xlabel>Layer number</xlabel>
	    <caption></caption>
	    <!-- this tag is useless for this CUSTOM plot 
			since it is dedicated to a specific task
			<expression>tkr_layer_end_strip_count</expression> -->
			<cut><![CDATA[ gem_condition_summary&30 ]]></cut>
        </CUSTOM>				
				
        <TH1F name="tkr_tower_strip_count" enabled="True" level="tower">
	    <title>Tracker Tower hit multiplicity</title>
	    <xbins>100</xbins>
	    <xmin>0</xmin>
	    <xmax>100</xmax>
	    <xlabel>Number of hits</xlabel>
	    <ylog>True</ylog>
            <expression>tkr_tower_strip_count</expression>
            <cut><![CDATA[ tkr_tower_strip_count > 0 ]]></cut>
        </TH1F>
        <CUSTOM type="tkr_2d_map" name="tkr_hitmap" enabled="True" >
	    <title>Average number of strip hits per GTRC</title>
	    <xlabel>Plane</xlabel>
	    <ylabel>Tower</ylabel>
	    <drawoptions>colz</drawoptions>
	    <caption>Events with no hits have been removed.</caption>
	    <expression>tkr_layer_end_strip_count</expression>
	    <exclude>[0]</exclude>
        </CUSTOM>
        <CUSTOM type="tkr_2d_map" name="tkr_totmap" enabled="True">
	    <title>Average TOT per GTRC</title>
	    <xlabel>Plane</xlabel>
	    <ylabel>Tower</ylabel>
	    <drawoptions>colz</drawoptions>
	    <caption>Events with TOT 0 or 255 (saturated) have been removed.</caption>
	    <expression>tkr_layer_end_tot</expression>
	    <exclude>[0, 255]</exclude>
        </CUSTOM>
        <CUSTOM type="tkr_2d_map_project" name="tkr_hitmap_project" enabled="True">
	    <title>Average number of strip hits in a Tracker plane</title>
	    <xlabel>Plane</xlabel>
	    <ylabel>Tower</ylabel>
	    <drawoptions>colz</drawoptions>
	    <expression>tkr_layer_end_strip_count</expression>
            <cut><![CDATA[ tkr_layer_end_strip_count > 0 ]]></cut>
        </CUSTOM>
				
        <CUSTOM type="tkr_2d_map_project_count" name="tkr_no_hit_count" enabled="True">
	    <title>Number of times there are no strip hits in a Tracker plane</title>
	    <xlabel>Plane</xlabel>
	    <ylabel>Tower</ylabel>
	    <drawoptions>colz</drawoptions>
	    <expression>tkr_layer_end_strip_count</expression>
            <cut><![CDATA[ tkr_layer_end_strip_count ==0 && gem_condition_summary&30]]></cut>
        </CUSTOM>				
    </outputList>

    <!--
    CAL group.
    -->
    <outputList group="CAL" name="CAL base" enabled="True">

        <TH1F name="cal_log_count" enabled="True" level="lat">
	    <title>CAL total hit multiplicity</title>
	    <xbins>100</xbins>
	    <xmin>0</xmin>
	    <xmax>1600</xmax>
            <expression>cal_log_count</expression>
        </TH1F>
        <TH1F name="cal_tower_log_count" enabled="True" level="tower">
	    <title>CAL hit multiplicity per tower</title>
	    <xbins>100</xbins>
	    <xmin>0</xmin>
	    <xmax>100</xmax>
	    <ylog>True</ylog>
            <expression>cal_tower_log_count</expression>
        </TH1F>
        <TH1F name="cal_tower_count" enabled="True" level="lat">
	    <title>Number of CAL modules hit</title>
	    <xbins>16</xbins>
	    <xmin>0</xmin>
	    <xmax>16</xmax>
            <expression>cal_tower_count</expression>
        </TH1F>
        <CUSTOM type="cal_2d_map" name="cal_hitmap" enabled="True">
	    <title>Average number of log hit per layer</title>
	    <xlabel>Layer</xlabel>
	    <ylabel>Tower</ylabel>
	    <drawoptions>colz</drawoptions>
	    <expression>cal_layer_log_count</expression>
	    <exclude>[0]</exclude>
        </CUSTOM>
    </outputList>

    <!--
    ACD group.
    -->

    <outputList group="ACD" name="ACD base" enabled="True">

        <TH1F name="acd_tile_count" enabled="True" level="lat">
	    <title>Number of tiles hit</title>
	    <xbins>220</xbins>
	    <xmin>0</xmin>
	    <xmax>220</xmax>
	    <xlabel>Number of events</xlabel>
	    <ylabel>Number of tile hits</ylabel>
      <expression>acd_tile_count</expression>
			<cut><![CDATA[ gem_condition_summary&30 ]]></cut>
        </TH1F>

    </outputList>
		
    <!--
    Trending group.
    -->

    <outputList group="Trending" name="TkrTrending" enabled="True">

        <StripChart name="trending_tkr_strip_count_lat" enabled="True" level="lat">
	    <title>LAT TKR Trending</title>
 	    <dtime>10</dtime>
            <expression>tkr_strip_count</expression>
	    <ymin>0</ymin>
	    <ymax>1000</ymax>
       </StripChart>

       <StripChart name="trending_tkr_strip_count" enabled="True" level="tower">
	    <title>Tkr Trending</title>
 	    <dtime>10</dtime>
            <expression>tkr_tower_strip_count</expression>
	    <ymin>0</ymin>
	    <ymax>300</ymax>
	    <xlabel>Elapsed time (s)</xlabel>
	    <ylabel>Average hit multiplicity</ylabel>
            <cut><![CDATA[ tkr_tower_strip_count > 0 ]]></cut>
       </StripChart>

    </outputList>

    <outputList group="Trending" name="CalTrending" enabled="True">

        <StripChart name="trending_cal_log_count" enabled="True" level="lat">
	    <title>CAL hit multiplicity trending</title>
 	    <dtime>10</dtime>
            <expression>cal_log_count</expression>
	    <ymin>0</ymin>
	    <ymax>1600</ymax>
       </StripChart>

        <StripChart name="trending_cal_tower_log_count" enabled="True" level="tower">
	    <title>CAL hit multiplicity trending per tower</title>
 	    <dtime>10</dtime>
            <expression>cal_tower_log_count</expression>
	    <ymin>0</ymin>
	    <ymax>100</ymax>
       </StripChart>

        <StripChart name="trending_cal_tower_count" enabled="True" level="lat">
	    <title>CAL trending</title>
 	    <dtime>10</dtime>
            <expression>cal_tower_count</expression>
	    <ymin>0</ymin>
	    <ymax>16</ymax>
       </StripChart>

    </outputList>

</monitoring>
