<?xml version="1.0" ?>

<monitoring>

    <outputList group="Meta Event" name="Meta advanced">
        <TH1F name="Tick20MHzDeviation_TH1">
	    <expression><![CDATA[ clocktics_dev_20MHz ]]></expression>
	    <cut><![CDATA[ clocktics_dev_20MHz!=-9999 ]]></cut>
	    <xbins>200</xbins>
	    <xmin>-1000</xmin>
	    <xmax>1000</xmax>
	    <title>Number of ticks between successive 1-PPS - Deviation from 20 MHz.</title>
	    <xlabel>Clock ticks (nominal 50 ns), N</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Number of ticks between successive 1-PPS - Deviation from 20 MHz. </caption>
        </TH1F>
        <TH1F name="Tick20MHzDeviation_Zoom_TH1">
	    <expression><![CDATA[ clocktics_dev_20MHz ]]></expression>
	    <cut><![CDATA[ clocktics_dev_20MHz!=-9999 ]]></cut>
	    <xbins>400</xbins>
	    <xmin>-200</xmin>
	    <xmax>200</xmax>
	    <title>Number of ticks between successive 1-PPS - Deviation from 20 MHz - Zoom</title>
	    <xlabel>Clock ticks (nominal 50 ns), N</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Number of ticks between successive 1-PPS - Deviation from 20 MHz - Zoom </caption>
        </TH1F>
        <TH1F name="Tick20MHzDeviation_SuperZoom_TH1">
	    <expression><![CDATA[ clocktics_dev_20MHz ]]></expression>
	    <cut><![CDATA[ clocktics_dev_20MHz!=-9999 ]]></cut>
	    <xbins>40</xbins>
	    <xmin>-20</xmin>
	    <xmax>20</xmax>
	    <title>Number of ticks between successive 1-PPS - Deviation from 20 MHz - Super Zoom</title>
	    <xlabel>Clock ticks (nominal 50 ns), N</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Number of ticks between successive 1-PPS - Deviation from 20 MHz - Super Zoom </caption>
        </TH1F>
    </outputList>

    <inputList group="GEM" name="GEM base">
	<variable name="condsummary">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="condarrcallo">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="condarrcalhi">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="condarrtkr">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="condarrcno">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="condarrroi">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_delta_event_time">
	    <type>double</type>
            <shape>(1)</shape>
	</variable>
	<variable name="gem_delta_window_open_time">
	    <type>double</type>
            <shape>(1)</shape>
	</variable>
	<variable name="LivetimeLast">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="DeadZoneLast">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="DiscardedLast">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="PrescaledLast">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="PrescaledDelta" reset="False">
	    <type>int</type>
            <shape>(2)</shape>
	</variable>
	<variable name="DiscardedDelta" reset="False">
	    <type>int</type>
            <shape>(2)</shape>
	</variable>
	<variable name="DeadZoneDelta" reset="False">
	    <type>int</type>
            <shape>(2)</shape>
	</variable>
	<variable name="TkrTriggerTower" >
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="CalHiTriggerTower" >
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="CalLoTriggerTower" >
	    <type>int</type>
            <shape>(1)</shape>
	</variable>	
	<variable name="AcdGemROI_Tower" > <!-- This name is inconsistent with the others: require a change!-->
	    <type>int</type>
            <shape>(1)</shape>
	</variable>	
	<variable name="AcdGemVeto_AcdTile" > 
	    <type>int</type>
            <shape>(NUM_ACD_VETOES)</shape>
	</variable>	
	<variable name="AcdGemCNO_GARC" > 
	    <type>int</type>
            <shape>(1)</shape>
	</variable>				
    </inputList>
    

    <outputList group="GEM" name="GEM base">
        <TH1F name="CondSummaryWord_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ !(condsummary&64) ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values (No Sollicited trigger)</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values</caption>
        </TH1F>
        <TH1F name="DiscardedDelta_TH1">
	    <expression><![CDATA[ DiscardedDelta[0] ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && !(condsummary&64)]]></cut>
	    <xbins>31</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>30.5</xmax>
	    <title>Number of GEM discarded events between two successive read out events</title>
	    <xlabel>Number Gem discarded events</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Number of GEM discarded events between two successive read out events. Periodic triggers have been taken out.</caption>
        </TH1F>
        <TH1F name="DeadZoneDelta_TH1">
	    <expression><![CDATA[ DeadZoneDelta[0] ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && !(condsummary&64)]]></cut>
	    <xbins>31</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>30.5</xmax>
	    <title>Number of GEM deadzone events between two successive read out events</title>
	    <xlabel>Number Gem deadzone events</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Number of GEM deadzone events between two successive read out events. Periodic triggers have been taken out.</caption>
        </TH1F>
        <TH1F name="DeltaEventTime_TH1">
	    <expression><![CDATA[ gem_delta_event_time*0.00005 ]]> </expression>
	    <cut><![CDATA[ (condsummary&30)>0 ]]></cut>
	    <xbins>100</xbins>
	    <xmin>0</xmin>
	    <xmax>4</xmax>
	    <title>GEM Delta Event time in milliseconds</title>
	    <xlabel>DeltaEvent time (ms)</xlabel>
	    <ylabel>N</ylabel>
	    <caption> GEM Delta Event time in milliseconds.</caption>
        </TH1F>
        <TH1F name="DeltaEventTime_Zoom_TH1">
	    <expression><![CDATA[ gem_delta_event_time ]]> </expression>
	    <cut><![CDATA[ (condsummary&30)>0 ]]></cut>
	    <xbins>160</xbins>
	    <xmin>0</xmin>
	    <xmax>1600</xmax>
	    <title>GEM Delta Event time in 50 ns ticks</title>
	    <xlabel>DeltaEvent time (50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption> Delta event time as measured by the GEM in system clock ticks with a cut of 1500 ticks.</caption>
        </TH1F>
        <TH1F name="DeltaWindowOpen_TH1">
	    <expression><![CDATA[ gem_delta_window_open_time*0.00005 ]]> </expression>
	    <cut><![CDATA[ (condsummary&30)>0 ]]></cut>
	    <xbins>100</xbins>
	    <xmin>0</xmin>
	    <xmax>4</xmax>
	    <title>GEM Delta window open time in milliseconds</title>
	    <xlabel>DeltaWindowOpen time (ms)</xlabel>
	    <ylabel>N</ylabel>
	    <caption> GEM Delta window open time in milliseconds.</caption>
        </TH1F>
        <TH1F name="DeltaWindowOpen_Zoom_TH1">
	    <expression><![CDATA[ gem_delta_window_open_time ]]> </expression>
	    <cut><![CDATA[ (condsummary&30) && (gem_delta_window_open_time<1500)]]></cut>
	    <xbins>160</xbins>
	    <xmin>0</xmin>
	    <xmax>1600</xmax>
	    <title>GEM Delta window open time in 50 ns ticks</title>
	    <xlabel>DeltaWindowOpen time (nominally 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption> Delta window open time as measured by the GEM in system clock ticks with a cut of 1500 ticks.</caption>
        </TH1F>
        <TH1F name="PrescaledDelta_TH1">
	    <expression><![CDATA[ PrescaledLast ]]> </expression>
	    <cut><![CDATA[ !(condsummary&32) ]]></cut>
	    <xbins>31</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>30.5</xmax>
	    <title>Number of GEM prescaled events between two successive read out events.</title>
	    <xlabel>Number Gem prescaled events</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Number of GEM prescaled events between two successive read out events. Periodic triggers have been taken out.</caption>
        </TH1F>
    </outputList>

    <outputList group="GEM" name="GEM Trigger coincidences">

        <TH1F name="CondSummaryWord_WithROI_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&1 ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a ROI trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a ROI trigger</caption>
        </TH1F>
        <TH1F name="CondSummaryWord_WithTKR_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&2 ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a TKR trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a TKR trigger</caption>
        </TH1F>
        <TH1F name="CondSummaryWord_WithCalLo_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&4 ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a Cal-Low trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a Cal-Low trigger</caption>
        </TH1F>
        <TH1F name="CondSummaryWord_WithCalHi_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&8 ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a Cal-High trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a Cal-High trigger</caption>
        </TH1F>
        <TH1F name="CondSummaryWord_WithCNO_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&16 ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a CNO trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a CNO trigger</caption>
        </TH1F>
        <TH1F name="CondSummaryWord_WithPeriodic_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&32 ]]></cut>
	    <xbins>65</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>64.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a Periodic trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a Periodic trigger</caption>
        </TH1F>
        <TH1F name="CondSummaryWord_WithSolicited_TH1">
	    <expression><![CDATA[ condsummary ]]></expression>
	    <cut><![CDATA[ condsummary&64 ]]></cut>
	    <xbins>129</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>128.5</xmax>
	    <title>Distribution of CondSummary Word values when there is a Solicited trigger</title>
	    <xlabel>consummary value</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of CondSummary Word values when there is a Solicited trigger</caption>
        </TH1F>

    </outputList>

						
    <outputList group="GEM" name="GEM arrival times" enabled="True">				
        <TH1F name="CondArrTKRTrigger_TH1">
	    <expression><![CDATA[ condarrtkr ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && (condsummary&2) && !(condsummary&64)]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival TKR triggers</title>
	    <xlabel>Condition arrival times for TKR triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of Condition arrival times for TKR triggers. Periodic triggers have been taken out.</caption>
        </TH1F>
        <TH1F name="CondArrCalLoTrigger_TH1">
	    <expression><![CDATA[ condarrcallo ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && (condsummary&4) && !(condsummary&64)]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival Cal-Low triggers</title>
	    <xlabel>Condition arrival times for Cal-Low triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of Condition arrival times for Cal-Low triggers. Periodic triggers have been taken out.</caption>
        </TH1F>
        <TH1F name="CondArrCalHiTrigger_TH1">
	    <expression><![CDATA[ condarrcalhi ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && (condsummary&8) && !(condsummary&64)]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival Cal-High triggers</title>
	    <xlabel>Condition arrival times for Cal-High triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of Condition arrival times for Cal-Hi triggers. Periodic triggers have been taken out.</caption>
        </TH1F>
        <TH1F name="CondArrCNOTrigger_TH1">
	    <expression><![CDATA[ condarrcno ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && (condsummary&16) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival CNO triggers</title>
	    <xlabel>Condition arrival times for CNO triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of Condition arrival times for CNO triggers. Periodic triggers have been taken out.</caption>
        </TH1F>
        <TH1F name="CondArrROITrigger_TH1">
	    <expression><![CDATA[ condarrroi ]]></expression>
	    <cut><![CDATA[ !(condsummary&32) && (condsummary&1) && !(condsummary&64)]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival ROI triggers</title>
	    <xlabel>Condition arrival times for ROI triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Distribution of Condition arrival times for ROI triggers. Periodic triggers have been taken out.</caption>
        </TH1F>
    </outputList>				

    <outputList group="GEM" name="GEM Trigger alignment to TKR" enabled="True">				

        <TH1F name="CondArrROI_TKROpensWindow_TH1">
	    <expression><![CDATA[ condarrroi ]]></expression>
	    <cut><![CDATA[ (condsummary&1) && (condsummary&2) && (condarrtkr==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival ROI triggers when TKR opened the window</title>
	    <xlabel>Condition arrival times for ROI triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for ROI triggers, when TKR opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCalLo_TKROpensWindow_TH1">
	    <expression><![CDATA[ condarrcallo ]]></expression>
	    <cut><![CDATA[ (condsummary&4) && (condsummary&2) && (condarrtkr==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of condition arrival Cal-Low triggers when TKR opened the window</title>
	    <xlabel>Condition arrival times for Cal_Low triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for Cal-Low triggers, when TKR opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCalHi_TKROpensWindow_TH1">
	    <expression><![CDATA[ condarrcalhi ]]></expression>
	    <cut><![CDATA[ (condsummary&8) && (condsummary&2) && (condarrtkr==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of condition arrival Cal-High triggers when TKR opened the window</title>
	    <xlabel>Condition arrival times for Cal-High triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for Cal-High triggers, when TKR opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCNO_TKROpensWindow_TH1">
	    <expression><![CDATA[ condarrcno ]]></expression>
	    <cut><![CDATA[ (condsummary&16) && (condsummary&2) && (condarrtkr==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of condition arrival CNO triggers when TKR opened the window</title>
	    <xlabel>Condition arrival times for CNO triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for CNO triggers, when TKR opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>

    </outputList>				
    <outputList group="GEM" name="GEM Trigger alignment to Cal-Low" enabled="True">				

        <TH1F name="CondArrROI_CalLoOpensWindow_TH1">
	    <expression><![CDATA[ condarrroi ]]></expression>
	    <cut><![CDATA[ (condsummary&1) && (condsummary&4) && (condarrcallo==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival ROI triggers when Cal-Low opened the window</title>
	    <xlabel>Condition arrival times for ROI triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for ROI triggers, when Cal-Low opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrTKR_CalLoOpensWindow_TH1">
	    <expression><![CDATA[ condarrtkr ]]></expression>
	    <cut><![CDATA[ (condsummary&2) && (condsummary&4) && (condarrcallo==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival TKR triggers when Cal-Low opened the window</title>
	    <xlabel>Condition arrival times for TKR triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for TKR triggers, when Cal-Low opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCalHi_CalLoOpensWindow_TH1">
	    <expression><![CDATA[ condarrcalhi ]]></expression>
	    <cut><![CDATA[ (condsummary&8) && (condsummary&4) && (condarrcallo==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival Cal-High triggers when Cal-Low opened the window</title>
	    <xlabel>Condition arrival times for Cal-High triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for Cal-High triggers, when Cal-Low opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCNO_CalLoOpensWindow_TH1">
	    <expression><![CDATA[ condarrcno ]]></expression>
	    <cut><![CDATA[ (condsummary&16) && (condsummary&4) && (condarrcallo==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival CNO triggers when Cal-Low opened the window</title>
	    <xlabel>Condition arrival times for CNO triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for CNO triggers, when Cal-Low opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
    </outputList>				
    
    <outputList group="GEM" name="GEM Trigger alignment to Cal-High" enabled="True">				

        <TH1F name="CondArrROI_CalHiOpensWindow_TH1">
	    <expression><![CDATA[ condarrroi ]]></expression>
	    <cut><![CDATA[ (condsummary&1) && (condsummary&8) && (condarrcalhi==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival ROI triggers when Cal-High opened the window</title>
	    <xlabel>Condition arrival times for ROI triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for ROI triggers, when Cal-High opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrTKR_CalHiOpensWindow_TH1">
	    <expression><![CDATA[ condarrtkr ]]></expression>
	    <cut><![CDATA[ (condsummary&2) && (condsummary&8) && (condarrcalhi==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival TKR triggers when Cal-High opened the window</title>
	    <xlabel>Condition arrival times for TKR triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for TKR triggers, when Cal-High opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCalLo_CalHiOpensWindow_TH1">
	    <expression><![CDATA[ condarrcallo ]]></expression>
	    <cut><![CDATA[ (condsummary&4) && (condsummary&8) && (condarrcalhi==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival Cal-Low triggers when Cal-High opened the window</title>
	    <xlabel>Condition arrival times for Cal-Low triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for Cal-Low triggers, when Cal-High opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCNO_CalHiOpensWindow_TH1">
	    <expression><![CDATA[ condarrcno ]]></expression>
	    <cut><![CDATA[ (condsummary&16) && (condsummary&8) && (condarrcalhi==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival CNO triggers when Cal-High opened the window</title>
	    <xlabel>Condition arrival times for CNO triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for CNO triggers, when Cal-High opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>	
    </outputList>				

    <outputList group="GEM" name="GEM Trigger alignment to CNO" enabled="True">				

        <TH1F name="CondArrROI_CNOOpensWindow_TH1">
	    <expression><![CDATA[ condarrroi ]]></expression>
	    <cut><![CDATA[ (condsummary&1) && (condsummary&16) && (condarrcno==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival ROI triggers when CNO opened the window</title>
	    <xlabel>Condition arrival times for ROI triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for ROI triggers, when CNO opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrTKR_CNOOpensWindow_TH1">
	    <expression><![CDATA[ condarrtkr ]]></expression>
	    <cut><![CDATA[ (condsummary&2) && (condsummary&16) && (condarrcno==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival TKR triggers when CNO opened the window</title>
	    <xlabel>Condition arrival times for TKR triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for TKR triggers, when CNO opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCalLo_CNOOpensWindow_TH1">
	    <expression><![CDATA[ condarrcallo ]]></expression>
	    <cut><![CDATA[ (condsummary&4) && (condsummary&16) && (condarrcno==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival Cal-Low triggers when CNO opened the window</title>
	    <xlabel>Condition arrival times for Cal-Low triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for Cal-Low triggers, when CNO opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
        <TH1F name="CondArrCalHi_CNOOpensWindow_TH1">
	    <expression><![CDATA[ condarrcalhi ]]></expression>
	    <cut><![CDATA[ (condsummary&8) && (condsummary&16) && (condarrcno==0) && !(condsummary&32) && !(condsummary&64) ]]></cut>
	    <xbins>41</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>40.5</xmax>
	    <title>Distribution of Condition arrival Cal-High triggers when CNO opened the window</title>
	    <xlabel>Condition arrival times for Cal-High triggers (nomially 50 ns ticks)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>
	        Distribution of Condition arrival times for Cal-High triggers, when CNO opened the window.
	        Periodic and sollicited triggers have been taken out.
	    </caption>
        </TH1F>
	
    </outputList>				

    
    <outputList group="GEM" name="GEM trigger vectors" enabled="True">
        <CUSTOM type="gem_vector_map" name="TkrTrigger_Tower_TH1" enabled="True">
	    <title>Number of tracker triggers per tower</title>
	    <xlabel>Tower number</xlabel>
	    <ylabel>N</ylabel>
			<cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>	
	    <expression>TkrTriggerTower</expression>
        </CUSTOM>
        <CUSTOM type="gem_vector_map" name="CalHiTrigger_Tower_TH1" enabled="True">
	    <title>Number of Cal HI triggers per tower</title>
	    <xlabel>Tower number</xlabel>
	    <ylabel>N</ylabel>
			<cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>	
	    <expression>CalHiTriggerTower</expression>
        </CUSTOM>
        <CUSTOM type="gem_vector_map" name="CalLoTrigger_Tower_TH1" enabled="True">
	    <title>Number of Cal LO triggers per tower</title>
	    <xlabel>Tower number</xlabel>
	    <ylabel>N</ylabel>
			<cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>	
	    <expression>CalLoTriggerTower</expression>
        </CUSTOM>	
        <CUSTOM type="gem_vector_map" name="AcdGemROI_Tower_TH1" enabled="True">
	    <title>Number of ACD ROI per tower</title>
			<caption>This bit is set if any of the tile in the ROI fired a veto. This bit is independent of if the Tower bit is set.</caption>
	    <xlabel>Tower number</xlabel>
	    <ylabel>N</ylabel>
			<cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>	
	    <expression>AcdGemROI_Tower</expression>
        </CUSTOM>
        <CUSTOM type="AcdGemVeto_AcdTile" name="Acd_GemVeto_AcdTile_TH1" enabled="True">
	    <!--expression><![CDATA[ AcdGemVeto_AcdTile ]]></expression-->
	    <cut><![CDATA[ (condsummary&30)>0 ]]></cut>
	    <title>Number of Acd Gem vetoes by tile</title>
	    <xlabel>Acd Tile Number (coded in 128 entries)</xlabel>
	    <ylabel>N</ylabel>
	    <caption>Expect to see spikes at 15, 31, 47, 63. These are large tiles at the bottom of the sides of the ACD.</caption>
        </CUSTOM>
        <CUSTOM type="gem_acd_cable_map" name="AcdGemCNO_GARC_TH1" enabled="True">
	    <expression><![CDATA[ AcdGemCNO_GARC ]]></expression>
	    <cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>
	    <title>Number of Acd CNO by board</title>
	    <xlabel>Acd GARC Number</xlabel>
	    <ylabel>N</ylabel>
	    <caption>This bit is the OR of the CNO signal on a single board. 
			Because of the tile to boad mapping, a factor two variation 
			between boards is normal</caption>
        </CUSTOM>						
    </outputList>
		
    <!--
    CAL group.
    -->
    <inputList group="CAL" name="CAL base" enabled="True">
    	<variable name="CalLogEndRangeHit" enabled="True">
	    <type>bool_</type>
	    <shape>(NUM_TOWERS, NUM_CAL_LAYERS_PER_TOWER, NUM_CAL_COLUMNS_PER_TOWER, 2, 4)</shape>
	</variable>
	<variable name="CalXHit_TowerCalLayerCalColumn" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_CAL_LAYERS_PER_TOWER, NUM_CAL_COLUMNS_PER_TOWER)</shape>
	</variable>
	<variable name="CalXHit_Tower" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS)</shape>
	</variable>
	<variable name="CalXHit" enabled="True">
	    <type>int</type>
	    <shape>(1)</shape>
	</variable>
	<variable name="CalTowerCount" enabled="True">
	    <type>int</type>
	    <shape>(1)</shape>
	</variable>
    </inputList>
	    
    <outputList group="CAL" name="CAL in electronics space" enabled="True">
        <CUSTOM type="CalLogEndRangeHitCounter" name="CalLogEndRangeHitCounter_Range0_TH2" enabled="True" level="tower">
	    <expression>Range0</expression>
	    <title>Number of hits in each Cal log end for range 0 (LEX8)</title>
	    <xlabel>CAL column/side</xlabel>
	    <ylabel>CAL layer</ylabel>
	    <drawoptions>colz</drawoptions>	    
	    <cut><![CDATA[ (condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>	    
        </CUSTOM>
        <CUSTOM type="CalLogEndRangeHitCounter" name="CalLogEndRangeHitCounter_Range1_TH2" enabled="True" level="tower">
	    <expression>Range1</expression>
	    <title>Number of hits in each Cal log end for range 1 (LEX1)</title>
	    <xlabel>CAL column/side</xlabel>
	    <ylabel>CAL layer</ylabel>
	    <drawoptions>colz</drawoptions>	    
	    <cut><![CDATA[ (condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>	    
        </CUSTOM>
        <CUSTOM type="CalLogEndRangeHitCounter" name="CalLogEndRangeHitCounter_Range2_TH2" enabled="True" level="tower">
	    <expression>Range2</expression>
	    <title>Number of hits in each Cal log end for range 2 (HEX8)</title>
	    <xlabel>CAL column/side</xlabel>
	    <ylabel>CAL layer</ylabel>
	    <drawoptions>colz</drawoptions>	    
	    <cut><![CDATA[ (condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>	    
        </CUSTOM>
        <CUSTOM type="CalLogEndRangeHitCounter" name="CalLogEndRangeHitCounter_Range3_TH2" enabled="True" level="tower">
	    <expression>Range3</expression>
	    <title>Number of hits in each Cal log end for range 3 (HEX1)</title>
	    <xlabel>CAL column/side</xlabel>
	    <ylabel>CAL layer</ylabel>
	    <drawoptions>colz</drawoptions>	    
	    <cut><![CDATA[ (condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>	    
        </CUSTOM>
    </outputList>
    
    <outputList group="CAL" name="CAL base" enabled="True">
        <CUSTOM type="CalXHit_NHit_Counter_TowerCalLayer" name="CalXHit_NHit_Counter_TowerCalLayer_TH2" enabled="True">
	    <title>Number of hits in a calorimeter layer defined by the coordinates tower,callayer.
	           Periodic triggers are NOT taken into account</title>
	    <xlabel>Tower number</xlabel>
	    <ylabel>Cal-Layer</ylabel>
	    <drawoptions>colz</drawoptions>
	    <!--expression>CalXHit_TowerCalLayerCalColumn</expression-->
	    <!--exclude>[0]</exclude-->
	    <cut><![CDATA[ (condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>	    
        </CUSTOM>

        <CUSTOM type="ZeroCalXHit_NHit_Counter_TowerCalLayer" name="ZeroCalXHit_NHit_Counter_TowerCalLayer_TH2" enabled="True">
	    <title>Number of times there is ZERO hits in a calorimeter layer defined by the coordinates tower,callayer.
	           Periodic triggers are NOT taken into account</title>
	    <xlabel>Tower number</xlabel>
	    <ylabel>Cal-Layer</ylabel>
	    <drawoptions>colz</drawoptions>
	    <!--expression>CalXHit_TowerCalLayerCalColumn</expression-->
	    <!--exclude>[0]</exclude-->
	    <cut><![CDATA[ (condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>	    
        </CUSTOM>

        <TH1F name="CalX_Total_NHit_TH1" enabled="True" level="lat">
	    <title>Distribution of  Cal crystals hits  per event (all towers included)</title>
	    <xbins>201</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>200.5</xmax>
	    <xlabel>Number of CalX_Hits</xlabel>
            <expression>CalXHit</expression>
	    <cut><![CDATA[ (condsummary&30)>0 && CalXHit>0  && !(condsummary&64)]]></cut>
        </TH1F>
	
        <TH1F name="CalX_NHit_TH1" enabled="True" level="tower">
	    <title>Distribution of  Cal crystals hits per event in this tower</title>
	    <xbins>97</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>96.5</xmax>
	    <ylog>True</ylog>
	    <xlabel>Number of Cal crystals in this tower</xlabel>
            <expression>CalXHit_Tower</expression>
	    <cut><![CDATA[ (condsummary&30)>0  && CalXHit_Tower>0 && !(condsummary&64)]]></cut>
        </TH1F>
	
        <TH1F name="CalTower_NHit_TH1" enabled="True" level="lat">
	    <title>Number of CAL modules hit</title>
	    <xbins>17</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>16.5</xmax>
	    <xlabel>Number of Cal Towers Hit</xlabel>
            <expression>CalTowerCount</expression>
 	    <cut><![CDATA[ (condsummary&30)>0 && !(condsummary&64)]]></cut>
       </TH1F>
	
        <!--CUSTOM type="cal_2d_map" name="cal_hitmap" enabled="True">
	    <title>Average number of logs hit per layer</title>
	    <xlabel>Layer</xlabel>
	    <ylabel>Tower</ylabel>
	    <drawoptions>colz</drawoptions>
	    <expression>cal_layer_log_count</expression>
	    <exclude>[0]</exclude>
        </CUSTOM-->

    </outputList>
		
    <!--
    TKR group.
    -->		
    <inputList group="TKR" name="TKR base" enabled="True">
	<variable name="TkrHitsTowerPlane" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER)</shape>
	</variable>
	<variable name="TkrHits" enabled="True">
	    <type>int</type>
	    <shape>(1)</shape>
	</variable>
	<variable name="TkrHitsTower" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS)</shape>
	</variable>
	<variable name="TkrHitsTowerPlaneEnd" enabled="False">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER, 2)</shape>
	</variable>
	<variable name="TkrHitsGTFE" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER, NUM_GTFE_PER_LAYER)</shape>
	</variable>
	<variable name="tkr_layer_end_tot" enabled="False">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER, 2)</shape>
	</variable>	
	<variable name="ToT_con0_TowerPlane" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER)</shape>
	</variable>		
	<variable name="ToT_con1_TowerPlane" enabled="True">
	    <type>int</type>
	    <shape>(NUM_TOWERS, NUM_TKR_LAYERS_PER_TOWER)</shape>
	</variable>	
    </inputList>
		
    <outputList group="TKR" name="TKR base" enabled="True">
        <TH1F name="TkrTotalHits_TH1" enabled="True">
	    <title>Distribution of strip hits per event (all towers included)</title>
	    <xbins>300</xbins>
	    <xmin>0</xmin>
	    <xmax>3000</xmax>
	    <xlabel>Number of strip hits</xlabel>
	    <ylabel>N</ylabel>
	    <cut><![CDATA[ (condsummary&30)>0 && !(condsummary&64)]]></cut>
            <expression>TkrHits</expression>
        </TH1F>		
        <CUSTOM type="ZeroTkrHitsCounter_TowerPlane" name="ZeroTkrHitsCounter_TowerPlane_TH2" enabled="True">
	    <title>Counter of ZERO strip hits vs Tower and Tracker plane</title>
	    <caption>Number of times there are no strip hits in a Tracker plane</caption>
	    <xlabel>Tower</xlabel>
	    <ylabel>Tracker plane</ylabel>
	    <drawoptions>colz</drawoptions>
            <cut><![CDATA[(condsummary&30)>0 && !(condsummary&64)]]></cut>
        </CUSTOM>							
    </outputList>
		
    <outputList group="TKR" name="TKR in electronics space" enabled="True">
        <CUSTOM type="TkrHitsCounter_TowerPlane" name="TkrHitsCounter_TowerPlane_TH2" enabled="True">
	    <title>Overall number of hits vs. TKR tower and plane</title>
	    <caption>Test</caption>
	    <xlabel>Tower</xlabel>
	    <ylabel>Tracker plane</ylabel>
	    <drawoptions>colz</drawoptions>
            <cut><![CDATA[(condsummary&30)>0 && !(condsummary&64)]]></cut>
        </CUSTOM>
        <CUSTOM type="TkrHitsCounter_Plane" name="TkrHitsCounter_Plane_TH1" level="tower" enabled="True">
	    <title>Overall number of hits vs. TKR plane (one per tower)</title>
	    <caption>Watch out for spikes (but don't get too excited, most likely it's just a noisy strip) and dips</caption>
	    <xlabel>Tracker plane</xlabel>
	    <ylabel>N</ylabel>
	    <cut><![CDATA[!(condsummary&64)]]></cut>
        </CUSTOM>    
        <CUSTOM type="TkrHitsCounter_PlaneGTFE" name="TkrHitsCounter_PlaneGTFE_TH2" level="tower" enabled="True">
	    <title>Overall number of hits vs. TKR plane and front-end chip (one per tower)</title>
	    <caption>Watch out for white spots---front end chips with no hits---if the statistics is enough</caption>
	    <xlabel>GTFE</xlabel>
	    <ylabel>Tracker plane</ylabel>
	    <drawoptions>colz</drawoptions>
	    <cut><![CDATA[!(condsummary&64)]]></cut>
        </CUSTOM>
    </outputList>

    <outputList group="TKR" name="TKR Details - Strip hits per tower" enabled="True">						
        <TH1F name="TkrHits_TH1" enabled="True" level="tower">
	    <title>Distribution of strip hits per tower</title>
	    <xbins>200</xbins>
	    <xmin>0</xmin>
	    <xmax>1000</xmax>
	    <xlabel>Number of strip hits</xlabel>
	    <ylabel>N</ylabel>
	    <cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>
            <expression>TkrHitsTower</expression>
        </TH1F>				
    </outputList>

    <outputList group="TKR" name="TKR Details - Planes hit in a tower" enabled="True">		
        <CUSTOM type="TkrPlanesHit" name="TkrPlanesHit_TH1" level="tower" enabled="True">
	    <title>Distribution of the number of planes hit in a tower</title>
	    <xlabel>Layer number</xlabel>
	    <caption></caption>
	    <!-- this tag is useless for this CUSTOM plot since it is dedicated to a specific task<expression></expression> -->
	    <cut><![CDATA[ (condsummary&30)>0 && !(condsummary&64)]]></cut>
        </CUSTOM>			
    </outputList>				

    <outputList group="TKR" name="TKR Details - ToT" enabled="True">		
        <CUSTOM type="ToT_0_WhenTkrHitsExist_TowerPlane" name="ToT_0_WhenTkrHitsExist_TowerPlane_TH2" enabled="True">
	    <title>Number of times that, existing at least one hit, ToT==0 in both controllers</title>
	    <xlabel>Tower Number</xlabel>
	    <ylabel>Tracker plane</ylabel>
            <drawoptions>colz</drawoptions>
	    <!--caption>Number of times that the TOT is 0 while there are 1 or more strips hit in the same controller</caption-->
	    <!-- this tag is useless for this CUSTOM plot since it is dedicated to a specific task expression></expression> -->
	    <cut><![CDATA[ (condsummary&30)>0 && !(condsummary&64)]]></cut>
        </CUSTOM>		
    </outputList>
		
    <outputList group="TKR" name="TKR Noise occupancy" enabled="False">		
        <TH1F name="TkrTotalHits_Periodic_TH1" enabled="True">
	    <title>Distribution of strip hits per event (all towers included). Periodic triggers only</title>
	    <xbins>300</xbins>
	    <xmin>0</xmin>
	    <xmax>3000</xmax>
	    <xlabel>Number of strip hits</xlabel>
	    <ylabel>N</ylabel>
	    <cut><![CDATA[ (condsummary&32)>0 && !(condsummary&64)]]></cut>
            <expression>TkrHits</expression>
      </TH1F>		
    </outputList>		
		
    <!--
    ACD group.
    -->		
		
    <inputList group="ACD" name="ACD1" enabled="True">
	<variable name="acd_tile_count" enabled="True">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="acd_tile_hitmap" enabled="False">
	    <type>int</type>
            <shape>(1)</shape>
	</variable>
	<variable name="AcdHitChannel" enabled="True">
	    <type>int</type>
            <shape>(NUM_ACD_CABLES, NUM_ACD_CHANNELS_PER_CABLE)</shape>
	</variable>
    </inputList>		
		
    <outputList group="ACD" name="ACD base" enabled="True">
    
        <TH1F name="AcdChannelsHits_TH1" enabled="True" level="lat">
	    <title>Number of ACD PMT hit per event</title>
	    <xbins>195</xbins>
	    <xmin>-0.5</xmin>
	    <xmax>194.5</xmax>
	    <xlabel>N</xlabel>
	    <ylabel>Number of ACD hits</ylabel>
            <expression>acd_tile_count</expression>
	    <caption>This is the number of PHA values per event</caption>
	    <cut><![CDATA[ (condsummary&30)>0  && !(condsummary&64)]]></cut>
        </TH1F>
        <CUSTOM type="AcdHitsCounter_CableChannel" name="AcdHitsCounter_CableChannel_TH2" level="lat" enabled="True">
	    <title>Number hit for each ACD channel</title>
	    <xlabel>Cable Id</xlabel>
	    <ylabel>Channel Id</ylabel>
	    <drawoptions>colz</drawoptions>
	    <cut><![CDATA[(condsummary&30)>0 && (condsummary&32)==0 && !(condsummary&64)]]></cut>
        </CUSTOM>
	
    </outputList>
		
    <!--
    Meta event group.
    -->
    <outputList group="META" name="Meta event base" enabled="True">
        <TH1F name="MetaContext_OpenCrate_TH1" enabled="True">
	    <title>Crate number</title>
	    <xbins>16</xbins>
	    <xmin>0</xmin>
	    <xmax>16</xmax>
	    <xlabel>Crate number (EPU0, EPU1, EPU2, SIU0, SIU1, AUX, MIXED, RSVD...)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>meta_context_open_crate</expression>
	    <cut><![CDATA[!(condsummary&64)]]></cut>
        </TH1F>
        <TH1F name="MetaContext_OpenMode_TH1" enabled="True">
	    <title>LAT Mode</title>
	    <xbins>8</xbins>
	    <xmin>0</xmin>
	    <xmax>8</xmax>
	    <xlabel>Mode (NORMAL, TOO, GRB0, GRB1, GRB2, SOLAR, CALIBRATION, DIAGNOSTIC)</xlabel>
	    <ylabel>Number of events</ylabel>
            <expression>meta_context_open_mode</expression>
	    <cut><![CDATA[!(condsummary&64)]]></cut>
        </TH1F>
    </outputList>

</monitoring>
